*{
    margin: 0;
    padding: 0;
    outline: none;
}

.nav_list{
    color: gold;
    text-align: center;
    padding: 10px;
    font-size: 24px;
    border-radius: 5px;
}
.nav_list>a{
    text-decoration: none;
    color: black;
}

.nav_list:hover {
    background-color: rgb(208, 83, 21);
}
